

.container {
    margin-top: 20px;
}
.survey{
    display: flex;
    justify-content: center;
}

.survey-header {
    border: 2px dashed black;
    border-radius:10px;
    margin:10px 0px;
    margin:auto;
    padding: 40px;
    display: flex;
    top: 430px;
    left: -415px;
    justify-content: space-between;
}

.survey-logo {
    width: 100%
}

.text-input {
    border: 10px dotted #cccc00;
    padding: 15px;
    margin:10px 0px;
}
.radio {
    border: 5px solid green;
    border-radius:3px;
    padding: 10px;
    margin:10px 0px;
}
.button {
    text-align: center;
    margin: 20px;
}
.radio-rebels {
    color: red;
    background-color: gray;
}
.radio-empire {
    color: black;
    background-color: red;
}
.radio-jedi{
    color: black;
    background-color: green;
    box-shadow: 0px 0px 5px green;
}
.radio-sith {
    color: black;
    background-color: red;
    box-shadow: 0px 0px 5px red;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}